* {
    width: 100%;          /*Ancho de los elementos.*/
    margin: auto;         /*Centrar web.*/
    position: relative;   /*Alinear verticalmente.*/
    text-align: center;
}
@font-face {               /*Descargué esta fuente de Internet y así la incluyo en mi documento.*/
    font-family: metropolis;
    src: url(../font/metropolis/Metropolis-Light.otf);
}
body {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: metropolis;
    font-size: 14px;
    background-color: #cccccc;
}
.contenedor {
    background-color: white;
    display: flex;
    display: flex;
    flex-direction: column;
}
.divimagen {
    display: flex;
    background-color: #34495E;
}
.datos {
    color: #cccccc;
    line-height: 50px;
    display: flex;
    flex-direction: column;
}
.datos h1 {
    letter-spacing: 2px;
    font-size: 40px;
}
.datos p {
    font-size: large;
    letter-spacing: 2px;
    margin-top: 2%;
}
.abiertoempleo h6 {
    font-size:medium;
    letter-spacing: 1px;
    border: 1px solid #cccccc;
    width: 40%;
    margin-top: 3%;
}
.imagen{
    display: flex;
}
.respimg{
    height: 100%;
    max-width: 100%
}
section{
    display: flex;
}
.seccion{
    margin: 1%;
    line-height: 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.intro {
    display: flex;
    margin-top: 1%;
}
.quehago, .quepuedohacer {
    margin: 1%;
    display: flex;
    flex-direction: column;
}
h2, p{
    margin: 2%;
    width: 98%;
}
.trabajoactual {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trabajoactual h2{
    margin: 1% 1% 0 1%;
}
.trabajoactual p{
    width: 96%;
}
.trabajosanteriores {
    display: flex;
    flex-wrap: wrap;
}
.tr1, .tr2, .tr3, .tr4 {
    width: 46%;
    margin: 2%;
}
.redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3%;
    align-items: center;
}
.video1{
    width: 70%;
    margin: 3% 0 2% 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); /*Utilicé un generador de sombras online.*/
    display: flex;
}
.iconos{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
a{
    width: 10%;
    margin: 0%;
}
#linkedin, #twitter, #facebook, #instagram, #youtube, #tumblr{
    width: 35px;
}
.boton {
    width: 20%;
    color: #cccccc;
    font-size: 20px;
    padding: 10px 0px;
    margin: 10px 10px;
    background-color: #34495E;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px rgba(39, 77, 128, 0.7), 4px 4px 4px 0px rgba(0, 0, 0, 0.5), 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
}



@media only screen and (max-width: 1439px) {body {width: 90%;}
}
@media only screen and (max-width: 979px) {body {width: 100%;}
}
@media only screen and (max-width: 879px) {
    .datos {align-items: center;}
    .datos h1 {
        letter-spacing: 0px;
        font-size: 32px;
    }
    .datos p {
        letter-spacing: 0px;
        font-size: medium;
    }
    .abiertoempleo h6 {
        width: 60%;
        line-height: 40px;
    }
}
@media only screen and (max-width: 689px) {
    body {
        width: 90%;
    }
    .divimagen {
        background-color: #34495E;
        background-image: url(./imagen.jpg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position-x: 220px;
        background-position-y: 0px;
    }
    .datos {
        background-color: #34495E;
        width: 60%;
        padding: 3% 0 4% 0;
    }
    .datos p {
        line-height: initial;
    }
    .abiertoempleo h6 {
        width: 52%;
        line-height: normal;
        padding: 3%;
        font-size: medium;
        font-weight: normal;
    }

    .imagen {
        display: flex;
        width: 40%;
    }
    .respimg{display: none;}
}
@media only screen and (max-width: 589px) {
    .divimagen{
        display: block;
        background-image: none;

    }
    .datos{
        width: 100%;
    }
    .datos h1 {
        letter-spacing: 1px;
        font-size: 29px;
        width: 93%;
    }
    .datos p{
        font-size: 17px;
    }
    .imagen{
        display: block;
        width: 100%;

    }
    .respimg{
        width: 78%;
        padding-bottom: 5%;
        margin-bottom: 3%;
        display: block;
    }
    .video1{
        width: 90%;
    }
    .boton {
        font-size: 11px;
    }
    #linkedin, #twitter, #facebook, #instagram, #youtube, #tumblr {
        width: 22px;
    }
}